@tailwind base;
@tailwind components;
@tailwind utilities;

html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

html, body, #__next {
  height: 100%;
  background: #0a0a12;
}

/* Hide horizontal scrollbar for node scroller */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
